﻿<div id="tecladoNumerico" class="esq10">
    <div id="tecladoNumericoPantalla" class="esq05"></div>
    <div style="height:5px;"></div>
    <div style="overflow:hidden;">
        <div>/</div>
        <div>-</div>
        <div><img src="./Merlos/images/btnAspaBl.png" width="20" /></div>
    </div>
    <div style="overflow:hidden;">
        <div>7</div>
        <div>8</div>
        <div>9</div>
    </div>
    <div style="overflow:hidden;">
        <div>4</div>
        <div>5</div>
        <div>6</div>
    </div>
    <div style="overflow:hidden;">
        <div>1</div>
        <div>2</div>
        <div>3</div>
    </div>
    <div style="overflow:hidden;">
        <div><</div>
        <div>0</div>
        <div>.</div>
    </div>
    <div style="overflow:hidden;">
        <div><<</div>
        <div style="background:0;"></div>
        <div style="font:20px arial;padding:11px 0;">ENTER</div>
    </div>
</div>


<script>
    $("#tecladoNumerico div div").on("click",function(){ tecladoNumerico($(this).text()); });
</script>