@charset "utf-8";

/*	MERLOS CSS v.2.0.0.1 */




/*  ========================================================================== 
                                    COLORES 
    ========================================================================== */
:root {
    --Blanco: #FFFFFF;
    --Negro: #333333;
    --Azul_oscuro: #19456B;
    --Azul_medio: #11698E;
    --Azul_claro: #68CDF9;
    --Rojo: #FF7070;
    --Rojo_Claro: #FFCCCC;
    --Verde: #16C79A;
    --Verde_Claro: #DBFFD6;
    --Gris: #E1E3E7;
    --Gris_Claro: #EDEFF3;
    --F2: #F2F2F2;
}




/*  ========================================================================== 
                                    ENTORNO 
    ========================================================================== */
html, body {
    width: 100%;
    height: 100%;
    background: var(--F2);
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    border: 0;
    font: arial 14px arial;
    color: var(--Negro);
    box-sizing: border-box;
    line-height: 1.5em;
}

header {
    background: var(--Blanco) !important;
    background-color: var(--Blanco) !important;
}

#mainMenu, #mainLogo {
    background: var(--Blanco);
    background-color: var(--Blanco);
}

#mainMenu {
    color: var(--Negro);
}

#mainNav {
    background: linear-gradient(to bottom, var(--F2), white);
}

input {
    outline: none;
}

.imgMenu{ cursor:pointer; }


/*  ========================================================================== 
                                      DIVs 
    ========================================================================== */
.pRel {
    position: relative;
}

.fondo {
    background: var(--Blanco);
    padding: 20px;
    border-radius: 10px;
}

.dvSel {
    display: none;
    z-index: 100;
    position: absolute;
    background: var(--Blanco);
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 2px 4px 14px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 4px 14px 1px rgba(0,0,0,0.3);
}

.dvSelSub {
    background: var(--F2);
    padding: 4px;
    cursor: pointer;
    margin: 2px;
    color: #666;
}

    .dvSelSub:hover {
        background: var(--Verde_Claro);
        color: var(--Negro);
    }

#dvComunesYEmpresa {
    margin-top: 20px;
}

#dvAppPersonalizaciones {
    margin-top: 40px;
}
#dvAppPersonalizacionesContent {
    margin-top: 20px;    
}


#dvAppOpciones {
    margin-top: 10px;
}
#dvAppOpcionesContent {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
    #dvAppOpcionesContent .row {
        position: relative;
    }
    #dvAppOpcionesContent .dvSubSel {
        display: none;
        z-index: 2;
        position: absolute;
        background: #ccc;
        padding: 5px;
        box-sizing: border-box;
        cursor: pointer;
    }

#dvAppBasculas {
    margin-top: 10px;
}
#dvAppBasculasContent {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}
    #dvAppBasculasContent .cab {
        font: 16px arial;
        color: var(--Azul_oscuro);
    }
    #dvAppBasculasContent .row {
        text-align: center;
    }
    #dvAppBasculasContent img {
        width: 30px;
        height: auto;
    }
    #dvAppBasculasContent input {
        width: 95%;
        text-align: center;
        padding: 5px;
    }

#dvAppIdiomas {
    margin-top: 10px;
}
#dvAppIdiomasContent {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}
    #dvAppIdiomasContent .cab {
        font: 16px arial;
        color: var(--Azul_oscuro);
    }
    #dvAppIdiomasContent img {
        width: 24px;
        height: auto;
    }
    #dvAppIdiomasContent .new {
        background: var(--Verde_Claro);
        display: none;
    }
    #dvAppIdiomasContent input {
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
    }

#dvAppIdiomasListado {
    grid-column: 1/-1;
}
    #dvAppIdiomasListado .lin {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #999;
    }

#dvAppUsuarios {
    margin-top: 10px;
}
    
#dvAppUsuariosContent {
    margin-top:20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
}
    #dvAppUsuariosContent .row {
        padding: 0;
    }

    #dvAppUsuariosContent input {
        width: 99%;
        text-align: left;
        padding: 4px;
    }

#inpMerlosUsuario {
    background: var(--Verde_Claro);
}

#dvUsuariosListado {
    min-width: 100%;
}

#dvTrabajoInputs {
    font: 12px arial;
    color: #666666;
    display: grid;
    grid-template-columns: repeat(6, 1fr) repeat(2, 0.4fr);
    gap: 4px;
}

    #dvTrabajoInputs input {
        width: 100%;
        padding: 6px;
        box-sizing:border-box;
        border-radius: 5px;
        font:14px arial; 
        color:#333;
    }

    #dvTrabajoInputs > div {
        position: relative;
    }

    #dvTrabajoInputs > .btns {
        padding: 6px;
    }

.dvTrabajoInp {
    display: none;
    z-index: 2;
    position: absolute;
    width: 100%;
    background: #e9e9e9;
    padding: 10px;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.3);
}

.dvSub {
    background: var(--Blanco);
    padding: 5px;
    margin-bottom: 2px;
    cursor: pointer;
}

.dvCliObs {
    background: var(--Blanco)7E1;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 2px 4px 14px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 2px 4px 14px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 4px 14px 1px rgba(0,0,0,0.3);
}

.dvBotoneraOpciones {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
}


.dvTPVClienteDatos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

    .dvTPVClienteDatos .CliDatos {
        grid-column: 1/3;
    }

    .dvTPVClienteDatos .Botones {
        grid-column: 3/4;
        text-align: center;
    }


.confOp {
    cursor: pointer;
}

.chv {
    display: flex;
    justify-content: center;
    align-content: center;
}

.FrmPers {
    display:none; 
}




/*  ========================================================================== 
                                    BOTONES 
    ========================================================================== */
.btnAlo {
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

    .btnAlo:hover {
        box-shadow: 0 0 10px 0 var(--Verde) inset, 0 0 10px 0 var(--Verde);
    }

.boton {
    padding: 10px;
    font: bold 14px arial;
    color: #daf7ff;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 40px 40px var(--Azul_oscuro) inset, 0 0 0 0 var(--Azul_oscuro);
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
}

    .boton:hover {
        box-shadow: 0 0 10px 0 var(--Azul_oscuro) inset, 0 0 10px 0 var(--Azul_oscuro);
        color: var(--Azul_oscuro);
    }

.btnOff {
    padding: 10px;
    font: bold 14px arial;
    color: #FFFFFF;
    border-radius: 5px;
    background: #CCCCCC;
}


.dvBtn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnAzul {
    color: var(--Blanco);
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 40px 40px var(--Azul_medio) inset, 0 0 0 0 var(--Azul_medio);
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
}

    .btnAzul:hover {
        box-shadow: 0 0 10px 0 var(--Azul_medio) inset, 0 0 10px 0 var(--Azul_medio);
        color: var(--Azul_medio);
    }

.btnVerde {
    color: var(--Blanco);
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 40px 40px var(--Verde) inset, 0 0 0 0 var(--Verde);
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
}

    .btnVerde:hover {
        box-shadow: 0 0 10px 0 var(--Verde) inset, 0 0 10px 0 var(--Verde);
        color: var(--Verde);
    }

.btnRojo {
    color: var(--Blanco);
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 40px 40px var(--Rojo) inset, 0 0 0 0 var(--Rojo);
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
}

    .btnRojo:hover {
        box-shadow: 0 0 10px 0 var(--Rojo) inset, 0 0 10px 0 var(--Rojo);
        color: var(--Rojo);
    }

.btnAmarillo {
    color: #666;
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 40px 40px #FFEEBC inset, 0 0 0 0 #FFEEBC;
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
}

    .btnAmarillo:hover {
        box-shadow: 0 0 10px 0 #FFEEBC inset, 0 0 10px 0 #FFEEBC;
        color: #666;
    }

.btnGVerde {
    color: var(--Blanco);
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 40px 40px var(--Verde) inset, 0 0 0 0 var(--Verde);
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
}

    .btnGVerde:hover {
        box-shadow: 0 0 10px 0 var(--Verde) inset, 0 0 10px 0 var(--Verde);
        color: var(--Verde);
    }

.btnMVerde {
    color: var(--Blanco);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 40px 40px var(--Verde) inset, 0 0 0 0 var(--Verde);
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
}

    .btnMVerde:hover {
        box-shadow: 0 0 10px 0 var(--Verde) inset, 0 0 10px 0 var(--Verde);
        color: var(--Verde);
    }

.btnGRojo {
    color: var(--Blanco);
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 40px 40px var(--Rojo) inset, 0 0 0 0 var(--Rojo);
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
}

    .btnGRojo:hover {
        box-shadow: 0 0 10px 0 var(--Rojo) inset, 0 0 10px 0 var(--Rojo);
        color: var(--Rojo);
    }

.btnMRojo {
    color: var(--Blanco);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 40px 40px var(--Rojo) inset, 0 0 0 0 var(--Rojo);
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
}

    .btnMRojo:hover {
        box-shadow: 0 0 10px 0 var(--Rojo) inset, 0 0 10px 0 var(--Rojo);
        color: var(--Rojo);
    }




/*  ========================================================================== 
                                    TABLAS 
    ========================================================================== */
table { width:100%; }

.tbStd {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 2px solid var(----Azul_medio);
}

    .tbStd tr {
    }

    .tbStd th, .tbStd td {
        vertical-align: top;
        text-align: left;
        padding: 10px;
    }

    .tbStd th {
        border: 1px solid #666;
        font: bold 14px arial;
        color: var(--Negro);
        background: #D0D0D0;
    }

    .tbStd td {
        border: 1px solid #CCC;
        font: 14px arial;
        color: var(--Negro);
        border: 1px solid var(--Gris_Claro);
    }

    .tbStd input {
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        border: 0;
        color: var(--Negro);
        outline: none;
    }

    .tbStd tr:nth-child(odd) {
        background-color: var(--Blanco);
    }

    .tbStd tr:hover {
        background: #feffbf !important;
        cursor: pointer;
        color: var(--Blanco);
    }

.tbFrm{

}

.trLotesDatos input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 0;
    background: var(--Blanco);
    outline: none;
    font: 16px arial;
}

.icamb {
    display: none;
}

#tbComunEmpresa{ 
    margin:20px auto 0 auto;
    width:700px;
}
    #tbComunEmpresa td {
        vertical-align:middle;
        text-align:left;
    }
    #tbComunEmpresa select {
        padding: 5px;
    }

#tbResultados th:hover {
    cursor: pointer;
    background: var(--Verde_Claro);
}



/*  ========================================================================== 
                                    TECLADO 
    ========================================================================== */
#dvTecladoContenido {
    width: 300px;
    margin: 50px auto;
}




/*  ========================================================================== 
                                TECLADO NUMÉRICO 
    ========================================================================== */
#tecladoNumerico {
    width: 290px;
    margin: auto;
    background: #CCC;
    padding: 10px;
}

    #tecladoNumerico div div {
        float: left;
        width: 80px;
        margin: 4px;
        background: #666;
        padding: 10px;
        font: bold 24px arial;
        color: var(--Blanco);
        text-align: center;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

#tecladoNumericoPantalla {
    background: var(--Blanco);
    padding: 10px;
    min-height: 48px;
    font: bold 24px arial;
    color: var(--Negro);
    text-align: right;
    box-sizing: border-box;
}




/*  ========================================================================== 
                                  COLORES - FONDOS 
    ========================================================================== */
.bgVerdePalido {
    background: var(--Verde_Claro) !important;
}

.bgRojoPalido {
    background: var(--Rojo_Claro) !important;
}

.bgAzulPalido {
    background: var(--Azul_claro) !important;
}




/*  ========================================================================== 
                                   ANIMACIÓN 
    ========================================================================== */
.rotarR {
    -webkit-animation: 1s rotate linear infinite;
    animation: 1s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    vertical-align: middle;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.a90g {
    animation: a90g .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes a90g {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}

.a0g {
    animation: a0g .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes a0g {
    from {
        transform: rotate(90deg);
    }

    to {
        transform: rotate(0deg);
    }
}


.fadeIO {
    animation: fade 1000ms infinite;
    -webkit-animation: fade 1000ms infinite;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.5;
    }

    to {
        opacity: 1.0;
    }
}

.borderIO {
    animation: brdrIO 1000ms infinite;
    -webkit-animation: brdrIO 1000ms infinite;
}

@keyframes brdrIO {
    from {
        border:0;
    }

    50% {
        border:2px solid green;
    }

    to {
        border: 0;
    }
}




/*  ========================================================================== 
                                  PERSISTENTES 
    ========================================================================== */
.tit1 {
    font: 20px tahoma;
    color: #666;
    grid-column: 1/-1;
}

.inv {
    display: none;
}

.taL {
    text-align: left;
}

.taC {
    text-align: center;
}

.taR {
    text-align: right;
}

.vaT {
    vertical-align: top;
}

.vaM {
    vertical-align: middle;
}

.vaB {
    vertical-align: bottom;
}

.curP {
    cursor: pointer;
}

.esq05 {
    border-radius: 5px;
}

.esq10 {
    border-radius: 10px;
}

.w100 {
    width: 100%;
}

.padding2 {
    padding: 2px;
}

.padding5 {
    padding: 5px;
}

.padding10 {
    padding: 10px;
}

.avRojo {
    padding: 20px;
    text-align: center;
    font: 20px arial;
    color: #900;
}

.sombra {
    box-shadow: 2px 4px 10px 1px rgba(0,0,0,.3);
    -webkit-box-shadow: 2px 4px 14px 1px rgba(0,0,0,.3);
    -moz-box-shadow: 2px 4px 14px 1px rgba(0,0,0,.3);
}

.dvTit {
    background: var(--Azul_claro);
    padding: 10px;
    font: bold 16px arial;
    color: var(--Blanco);
    vertical-align: middle;
}

.dvVelo {
    display: none;
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.6);
}

.dvVeloCont {
    max-height: 600px;
    overflow: hidden;
    overflow-y: auto;
    font: 16px arial;
    color: var(--Negro);
    text-align: center;
    width: 50%;
    margin: 5% auto;
    padding: 30px;
    background: rgb(255,255,255);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 0px 28px -3px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 28px -3px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 28px -3px rgba(0,0,0,0.26);
}

.dvVeloTeclado {
    display: none;
    z-index: 910;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.6);
}

.dvVeloTecladoCont {
    max-height: 600px;
    overflow: hidden;
    overflow-y: auto;
    font: 16px arial;
    color: var(--Negro);
    text-align: center;
    width: 50%;
    margin: 5% auto;
    padding: 30px;
    background: var(--Blanco);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 0px 28px -3px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 28px -3px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 28px -3px rgba(0,0,0,0.26);
}

.dvVeloContSinFondo {
    font: 16px arial;
    color: var(--Negro);
    text-align: center;
    width: 50%;
    margin: 5% auto;
    padding: 30px;
}
